#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_install:
	dh_auto_install
	install -Dm755 target/release/lyxcat debian/lyxcat/usr/bin/lyxcat

override_dh_auto_test:
	cargo test --release --locked
