#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --locked || cargo build --release

override_dh_auto_install:
	dh_auto_install
	install -Dm755 target/release/lyxcat debian/lyxcat/usr/bin/lyxcat
	install -Dm644 target/release/build/lyxcat-*/out/lyxcat.1 debian/lyxcat/usr/share/man/man1/lyxcat.1

override_dh_auto_test:
	cargo test --release --locked
